@import "https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* VARIABLES */
:root {
  --white: #fff;
  --white2: rgba(244, 246, 255,1);
  --grey: #6c757d;
  --black: #1E3163;
  --black-rev: rgba(244, 246, 255,1);
  --pink: #F70776;
  --blue: #2D46B9;
  --bg-nav: #fafafa;
  --scroll-color: #F70776;
  --black2: rgba(25, 32, 50,1);
  --black2-rev: rgba(244, 246, 255,1);
  --main-color: #F70776;
  --main-color2: #F70776;
  --main-color-rev: #fff;
  --main-bg: rgba(45, 70, 185, .01);
  --black-op00: rgba(30, 49, 99,.02);
  --black-op0: rgba(30, 49, 99,.03);
  --black-op01: rgba(30, 49, 99,.06);
  --black-op02: rgba(30, 49, 99,.08);
  --black-op: rgba(30, 49, 99,.1);
  --black-op1: rgba(30, 39, 44,.15);
  --black-op2: rgba(30, 39, 44,.2);
  --black-op3: rgba(30, 38, 99, .4);
  --black-op4: rgba(30, 49, 99,.8);

  --main-color-op0: rgba(247, 7, 118,.05);
  --main-color-op: rgba(247, 7, 118,.1);
  --main-color-op1: rgba(247, 7, 118, .2);
  --main-color-op2: rgba(247, 7, 118, .5);

  --pink-op0: rgba(247, 7, 118,.7);
  --pink-op: rgba(247, 7, 118,.1);
  --pink-op1: rgba(247, 7, 118,.15);
  --blue-fb-op: rgba(0, 115, 255, .3);
  --blue-light-op: rgba(0, 200, 255, .2);
  --orange-op: rgba(255, 179, 25, .1);
}

html[data-theme="dark"] {
  --blue: #3E00FF;
  --bg-nav: #292929;
  --scroll-color: rgba(244, 246, 255,.8);
  --grey: rgba(244, 246, 255,.8);
  --black2: rgba(244, 246, 255,1);
  --black2-rev: rgba(25, 32, 50,1);
  --main-color: #fff;
  --main-color2: #f4f6ff;
  --main-color-rev: #F70776;
  --main-bg: #0c111b;
  --black: rgba(244, 246, 255,1);
  --black-rev: #1E3163;
  --black-op00: rgba(25, 32, 50,.5);
  /* --black-op00: rgba(244, 246, 255,.02); */
  /* --black-op0: rgba(244, 246, 255,.03); */
  --black-op0: rgba(25, 32, 50,.5);
  --black-op01: rgba(244, 246, 255,.06);
  /* --black-op02: rgba(244, 246, 255,.08); */
  --black-op02: rgba(25, 32, 50,1);
  --black-op: rgba(244, 246, 255,.1);
  /* --black-op1: rgba(244, 246, 255,.15); */
  --black-op1: rgba(25, 32, 50,.8);
  --black-op2: rgba(244, 246, 255,.2);
  --black-op3: rgba(244, 246, 255, .4);
  --black-op4: rgba(244, 246, 255,.8);

  --main-color-op0: rgba(244, 246, 255,.05);
  --main-color-op: rgba(244, 246, 255,.1);
  --main-color-op1: rgba(244, 246, 255, .2);
  --main-color-op2: rgba(244, 246, 255, .5);
  --orange-op: rgba(255, 179, 25, .8);
  --pink-op0: rgba(244, 246, 255,.5);
  --pink-op: rgba(247, 7, 118,.8);
  --pink-op1: none;
  --blue-fb-op: rgba(0, 115, 255, .8);
  --blue-light-op: rgba(0, 200, 255, .8);
}

.scroll-pink::-webkit-scrollbar { background: var(--black2-rev); }
.scroll-pink::-webkit-scrollbar-thumb {
  background: var(--pink-op0);
  border-radius: 2px;
}
.scroll-pink::-webkit-scrollbar-thumb:hover { background: var(--scroll-color); }

* {
  color: var(--black) !important;
  font-family: 'Nunito', sans-serif !important;
}

i { font-style: normal; }

html { scroll-behavior: smooth; }
body {
  background: var(--main-bg);
  overflow-x: hidden;
  /* height: 1000px; */
}

.none { display: none; opacity: 0; visibility: hidden; }
.none-sm { display: none; opacity: 0; visibility: hidden; }
.none-hp { display: none; opacity: 0; visibility: hidden; }
.zindex { z-index: 9999999; }
.scale-sm:active { transform: scale(0.98) !important; }
.scale:active { transform: scale(0.95) !important; }
.no-scale:active { transform: scale(1) !important; }

button, input { outline: none; }
.btn-primary {
  background: var(--pink) !important;
  color: var(--black-rev) !important;
  font-family: 'Nunito', 'Montserrat', sans-serif;
  border: none !important; box-shadow: none !important; outline: none !important;
}
.btn-primary:hover {
  opacity: 0.98;
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075) !important
}
.btn-primary i { color: var(--white2) !important; }

.btn:active, .form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}
.no-transition {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  -ms-transition: height 0s;
  -o-transition: height 0s;
  transition: height 0s;
}
.zindex { z-index: 9999999; }
.transparent { background: transparent !important; }

.to-top {
  position: fixed;
  bottom: 0; right: 0;
  background: var(--black2);
  opacity: 0.3;
  box-shadow: none !important;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.3s;
  animation: 0.3s animasiSlideUp;
}
.to-top:hover {
  background: var(--black2);
  opacity: 0.8;
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px !important;
}
.to-top i { color: var(--black-rev) !important; }

.change-theme.outer-nav, .change-theme.outer-nav i {
  color: var(--black-rev) !important;
}
.change-theme.outer-nav {
  position: fixed;
  bottom: 0; left: 0;
  background: var(--black);
  box-shadow: 0px -5px 10px rgba(0,0,0,.15) !important;
  opacity: 0.5;
  border-radius: 10px 10px 0 0;
  font-size: 1rem;
  box-shadow: none;
  outline: none;
  animation: 0.3s animasiSlideUp;
}
.change-theme.outer-nav:hover {
  opacity: 0.8;
  box-shadow: none;
  outline: none;
}

/* NAVBAR */
nav {
  color: var(--black);
  transition: 0.15s;
  box-shadow: none;
}
.bg-nav {
  background: var(--bg-nav) !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

nav .navbar-toggler .menu-toggler:active { transform: scale(0.9); }
.menu-toggler span {
  border: none;
  display: block;
  height: 5px;
  background: var(--black);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.menu-toggler span:nth-child(1) {
  width: 38px;
  margin-bottom: 5px;
}
.menu-toggler span:nth-child(2) {
  width: 32px;
  margin-bottom: 5px;
}
.menu-toggler span:nth-child(3) { width: 26px; }

nav .navbar-brand {
  color: var(--black) !important;
  font-size: 1.5rem;
  font-family: 'Montserrat', 'Nunito', sans-serif !important;
}
nav .navbar-brand:hover {
  text-decoration: underline;
}

nav .nav-item {
  transition: 0.15s; opacity: 0.8; border-radius: 20px;
  background: var(--black-op00);
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  border: 1px solid transparent;
}
nav .nav-item:hover {
  background: var(--black-op01);
  border: 1px solid var(--black);
  box-shadow: none;
  opacity: 1;
}
nav .nav-item:active {
  transform: scale(0.98);
}

nav .nav-item:hover a, nav .nav-item:hover a i {
  color: var(--black) !important;
}

/* CONTENTS */
.title { position: relative; }
.title, .title i {
  font-family: 'Montserrat', 'Nunito', arial, sans-serif !important;
  font-size: 2rem;
}

.title-line {
  display: block;
  position: absolute;
  bottom: 0;
  width: 20%; height: 5px;
  background: var(--main-color2);
  border-radius: 20px;
}

.main-info .title, .main-info .title i {
  color: var(--main-color2) !important;
}
.main-info .total-result {
  background: var(--black-op0);
  border-radius: 20px;
  font-size: 1rem;
}

/* CATEGORY */
.category-box h4 {
  font-size: 18px;
  opacity: 0.9;
  font-family: 'Nunito', sans-serif;
}

.category-box .category {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  /* overflow-x: auto; */
}

.category-box .category li {
  background: var(--black-op0);
  color: var(--black);
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  font-size: 1rem;
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  border: 1px solid transparent;
}
.category-box .category li.current {
  background: var(--pink) !important;
  color: var(--white) !important;
  box-shadow: 0 .5rem 1rem var(--pink-op1) !important;
  text-decoration: none !important;
  font-weight: bold;
  border: none !important;
}

.category-box .category li:hover {
  background: var(--black-op01);
  box-shadow: none;
  /* text-decoration: underline; */
  border: 1px solid var(--black);
}

.card {
  background: transparent;
}
.card:hover { transform: scale(0.98); }

.card img.card-img-top {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 15px 35px 0, rgba(0, 0, 0, 0.07) 0 3px 10px 0;
  cursor: zoom-in;
}
.card img.card-img-top:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.card .btn {
  font-size: 1.1rem;
  background: var(--black-op02);
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: none !important;
}
.card .btn:active { transform: scale(0.95); }

.card .url-box {
  display: inline-block;
  height: 40px;
  width: 80%;
  opacity: 0.8;
  font-size: 1rem;
  overflow-x: auto;
  cursor: text !important;
  color: var(--black);
}
.card .url-box:hover { background: var(--black-op); }
.card .url-box:active { transform: scale(1) !important; }

.card .btn-download:hover {
  background: var(--pink-op);
}
.card .btn-facebook:hover {
  background: var(--blue-fb-op);
}
.card .btn-twitter:hover {
  background: var(--blue-light-op);
}
.card .btn-clipboard:hover {
  background: var(--orange-op);
}

.card .btn i { color: var(--black) !important; }
.card .btn-download:hover i { color: var(--main-color) !important; }
.card .btn-facebook:hover i { color: var(--black) !important; }
.card .btn-twitter:hover i { color: var(--black) !important; }
.card .btn-clipboard:hover i { color: var(--black) !important; }

.modal {
  animation: animasiSlideUp 0.5s !important;
}
.modal-content {
  position: static !important;
}

.modal img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 15px 35px 0, rgba(0, 0, 0, 0.07) 0 3px 10px 0;
  width: 100%;
}

.modal button[aria-label="Close"] {
  position: absolute;
  top: 0; right: 0;
  border-radius: 20px;
}

.modal button[aria-label="Close"] i {
  color: var(--white2) !important;
  opacity: 0.8;
  font-size: 2.2rem;
}
.modal button[aria-label="Close"]:hover i { opacity: 1; }

.modal .btn-download { font-size: 1.2rem; border-radius: 20px; color: var(--white2) !important; }

/* LOADING CARDS */
.main-info .loading-title, .main-info .loading-result {
  height: 2rem;
  background: var(--black-op1);
  border-radius: 10px;
  animation: 0.5s animasiOpacity infinite alternate-reverse;
}
.main-info .loading-title {
  width: 70%;
}
.main-info .loading-result {
  width: 20%;
}

.card-img-top-loading {
  width: 18rem;
  height: 10rem;
  background: var(--black-op1);
  border-radius: 10px;
  animation: 0.5s animasiOpacity infinite alternate-reverse;
}

.loading-card .url-box-loading {
  width: 80% !important; height: 34px;
  border-radius: 20px;
  background: var(--black-op1);
  animation: 0.5s animasiOpacity infinite alternate-reverse;
}

.error-msg-box { opacity: 0.8; }

.error-img {
  width: 48rem;
  opacity: 0.98;
}

.error-msg { font-size: 2.2rem; color: var(--pink) !important; }
.error-desc { font-size: 1rem; color: var(--grey) !important; }

.loading-card .btn {
  width: 34px; height: 34px;
  border-radius: 20px;
  background: var(--black-op1);
  animation: 0.5s animasiOpacity infinite alternate-reverse;
}

footer p {
  letter-spacing: 8px;
  font-family: 'Montserrat', 'Nunito', arial, sans-serif !important;
  opacity: 0.15;
  font-size: 1rem;
}
footer .footer-creator {
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: 'JetBrains Mono', monospace, 'Nunito', sans-serif !important;
}


/* RESPONSIVE MOBILE: TABLET */
@media (max-width: 802px) {
  .main-info .loading-title {
    width: 80%;
  }
  .main-info .loading-result {
    width: 30%;
  }

  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .card img.card-img-top {
    width: 100%;
  }

  .modal img {
    position: relative !important;
  }

  .modal button[aria-label="Close"] {
    top: 16rem; right: 0;
  }
  .modal button[aria-label="Close"] i {
    font-size: 2.8rem;
  }

  .error-img { width: 40rem; }
  .error-msg { font-size: 2rem; }
}

/* RESPONSIVE MOBILE: HP */
@media (max-width: 576px) {
  .category-box {
    overflow-x: auto;
  }

  .title { position: relative; line-height: 140%; }
  .title, .title i {
    font-family: 'Montserrat', 'Nunito', arial, sans-serif !important;
    font-size: 1.8rem;
  }

  .title-line {
    width: 40%; height: 5px;
  }

  .main-info .loading-title, .main-info .loading-result {
    height: 1.6rem;
  }

  .main-info .loading-title {
    width: 90%;
  }
  .main-info .loading-result {
    width: 50%;
  }

  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .card img.card-img-top {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 60px -10px;
  }

  .card .btn { font-size: 1rem; }
  .card .url-box {
    height: 35px;
    width: 80%;
  }

  .modal button[aria-label="Close"] {
    top: 8rem; right: 0;
  }
  .modal button[aria-label="Close"] i {
    font-size: 2.2rem;
  }

  .modal .btn-download { font-size: 1rem; }

  .error-img { width: 40rem; }
  .error-msg { font-size: 1.6rem; }
  .error-desc { font-size: 0.9rem; }

  footer p {
    letter-spacing: 5px;
  }
  footer .footer-creator {
    letter-spacing: 1px;
  }
}





/* CUSTOM TOOLTIP */
.tooltip{position:absolute;z-index:1070;display:block;margin:0;font-family:'Nunito',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-style:normal;font-weight:400;line-height:1.5;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;white-space:normal;line-break:auto;font-size:.875rem;word-wrap:break-word;opacity:0}

.tooltip-inner{max-width:200px;padding:.25rem .5rem;color:var(--white2) !important;text-align:center;background-color:#1E3163;border-radius:.25rem}

.bs-tooltip-auto[x-placement^=top] .arrow::before,.bs-tooltip-top .arrow::before{top:0;border-width:.4rem .4rem 0;border-top-color:#1E3163}


@keyframes animasiOpacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1
  }
}

@keyframes animasiSlideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes animasiSlideDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
